<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@primer/css@21.0.0/dist/primer.css">
    <style>
      body {
        max-width: 800px;
        margin: 40px auto;
        padding: 0 20px;
      }
      h5 {
        font-size: var(--text-title-size-medium, 1.5em);
        font-weight: 600;
      }
    </style>
  </head>
  <body class="markdown-body">
    {{ content }}
  </body>
</html>
