<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@primer/css@21.0.0/dist/primer.css">
    <style>
      body {
        max-width: 800px;
        margin: 40px auto;
        padding: 0 20px;
      }
    </style>
  </head>
  <body class="markdown-body">
    {{ content }}
    <script>
      document.querySelectorAll('h5').forEach(el => {
        const h3 = document.createElement('h3');
        h3.innerHTML = el.innerHTML;
        h3.id = el.id;
        el.replaceWith(h3);
      });
    </script>
  </body>
</html>
